/* 共通 */
body {
  background-color: #EDF2F6;
}

/* spレイアウト */

/* ヘッダー */
header {
  background-color: #fff;
  padding: 0 30px 0 30px 0;
}



.header1 {
  max-width: 1200px;
  margin: 0 auto;
 
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
}

.header_icon1 {
  padding-top: 20px;
  height: 50px;
}
.header_icon1 img {
  width: 110px;
  height: auto;
}

.header_list1 {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header_list1 li {
  padding-top: 5px;
}

.search_icon span {
  color: #64717B;
}

.header_login_btn {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background: #3EA8FF;
  border-radius: 5px;
  padding: 7px 14px 5px 14px;
}

.header2 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #EDF2F6;
  padding: 5px 15px 5px 15px;
  height: 60px;
}

.header_icon2 {
  display: flex;
  padding-top: 5px; 
}

.header_icon2 img {
  width: 35px;
  height: 35px;
  border-radius: 30px;
}

.header_icon2 p {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  padding-top: 5px;
}

.header_list2 {
  list-style: none;
  display: flex;
 
}

.header_list2 .mokuzi {
    margin-top: 10px;
    margin-right: 15px;
}

.header_list2 .faborite_icon span {
  display: inline-block;
  color: #8F9FAA;
  background-color: #EDF2F6;  
  padding: 7px;
  border-radius: 20px;
  margin-top: 4px;
}

/* トップイメージ */
.top_image {
  text-align: center;
}

.top_image figure {
  margin-top: 45px;
  font-size: 75px;
}

.top_image h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.top_image p {
  margin-bottom: 40px;
  color: #64717B;
  font-size: 13px;
}

/* メイン */
.main {
  background-color: #fff;
  padding: 10px;
}

.main_head .main_icon {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.main_head .main_icon figure {
  display: flex;
  border: 1px solid #E4EDF4;
  border-radius: 20px;
  padding: 5px 8px 5px 8px;
}

.main_head .main_icon img {
  width: 20px;
}

.main_head .main_icon p {
  font-size: 12px;
}

.main_head h2 {
  margin-top: 60px;
  border-bottom: 1px solid #E4EDF4;
  padding-bottom: 5px;
}

.main_head .main_head_text {
  margin-top: 30px;
}

.main_1 {
  margin-top: 50px;
}

.main_1 h3 {
  border-bottom: 1px solid #E4EDF4;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.main_1 .main_1_text {
  margin-top: 30px;
  line-height: 30px;
}

.main_1 .main_1_pulldown {
  margin-top: 20px;
  border: 1px solid #E4EDF4;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.main_2 {
  margin-top: 50px;
}

.main_2 h3 {
  border-bottom: 1px solid #E4EDF4;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.main_2 .main_2_text {
  margin: 30px 0 30px 0;
  line-height: 30px; 
}

.main_2 .main_2_text span {
  font-weight: bold;
}

.main_2 a {
  font-weight: bold;
  text-decoration: none;
  color: #0D83FD;
}





/* Discussion */
.discussion {
  background-color: #fff;
}

/* Read next */

/* フッター */
footer {
  background-color: #fff;
}

